Button:hover{
    -fx-underline: true;
}

.Combobox{
    -fx-font-family: papyrus;
    -fx-font-size: 20;
}

.TextField{
    -fx-font-family: papyrus;
    -fx-font-size: 20;
}

.Text{
    -fx-font-family: papyrus;
    -fx-font-size: 20;
}

.TableView{
    -fx-font-family: papyrus;
    -fx-font-size: 20;
}